/*#root{
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid red;
}*/
#login {
    max-width:30em;
    margin: auto;
    //max-width:40em;
    //height:20em;
    border: 2px solid black;
    #loginForm{
        //border: 2px solid black;
        #submit{
            //margin-left: auto;
            //margin-left: 2em;
            //margin-right: auto;
        }
    }
}
